body {
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;

    display: flex;
     align-items: center;
     justify-content: center;
  }


.faq-box{
    margin-top: 50px;
    border-radius: 25px 25px 50px 25px;
    background: white;
    padding: 40px;
    width: 700px;
    height: 650px;
  }